<tr>
  <td><%= user_badge.badge.title %></td>
  <td><%= image_tag (user_badge.badge.image) %></td>
  <td><%= user_badge.badge.discription %></td>
  <td><%= user_badge.badge.rule %></td>
  <td><%= user_badge.badge.rule_value %></td>
</tr> 